.navbar {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 6rem;
}

.navbar img {
  width: 8rem;
}

.navRight {
  display: flex;
  gap: 1.5rem;
}

.hamburgerMenu {
  display: none;
}

@media screen and (max-width: 1000px) {
  .hamburgerMenu {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    margin: 1.5rem 2rem;
  }

  .navbar img {
    width: 6rem;
  }

  .navRight {
    gap: 0.5rem;
  }
}
